.container
  .col-5.offset-3
    %br
    %h2
      Edit #{resource_name.to_s.humanize}
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      %form
        = f.input :avatar, as: :file
        = f.input :first_name, required: false, autofocus: true
        = f.input :last_name, required: false, autofocus: true
        = f.input :gender, as: :radio_buttons, collection: [['Male', 'm'], ['Female', 'f']]
        = f.input :email, required: false, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :password,hint: "leave it blank if you don't want to change it",required: false,  input_html: { autocomplete: "new-password" }
        = f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" }
        = f.input :current_password, hint: "we need your current password to confirm your changes", required: false, input_html: { autocomplete: "current-password" }
        .form-actions
          = f.button :submit, "Update"
