= simple_form_for [commentable, @comment], html: { class: local_assigns[:class], data: { target: local_assigns[:target] } } do |f|
  = f.text_area :body, placeholder: "Add a comment", class: "form-control"
  = f.input :rate, placeholder:"Ocena 1-10", input_html: { min: 0, max: 10} ,required: false, error: false,label: false
  = f.hidden_field :parent_id, value: local_assigns[:parent_id]
  = f.hidden_field :movie_id
  = f.submit class: "btn btn-primary"
