= simple_form_for [@movie, @comment] do |f|
  %p= f.input :movie_id, :as => :hidden, required: false
  %p
    = f.input :rate, placeholder:"Ocena 1-10", input_html: { min: 0, max: 10, class: 'custom-range'},required: false, error: false,label: false, as: :range
  %p= f.input :body, placeholder:"Tekst....", required: false, error: false,label: false
  %p= f.submit
