<h1>My article</h1>

<p>
  <strong>Title:</strong>
  <%= @movie.name %>
</p>
<p>
  <strong>Release date:</strong>
  <%= @movie.premiere_date.strftime("%d.%m.%Y") %>
</p>
<p>
  <strong>Length:</strong>
  <%= @movie.length %> minutes
</p>
<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>
<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>
<p>
  <strong>Scenarist:</strong>
  <%= @movie.scenarist %>
</p>
<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>
<p>
  <strong>Description</strong>
  <%= @movie.description %>
</p>

<%= link_to 'Back to all movies', movies_path  %>
<%= link_to 'Edit this movie', edit_movie_path(@movie)  %>
<%= link_to 'Delete this movie', movie_path(@movie), method: :delete, data: {confirm: "You sure?"} %>
