<h1>My article</h1>

<p>
  <strong>Title:</strong>
  <%= @movie.name %>
</p>
<p>
  <strong>Release date:</strong>
  <%= @movie.premiere_date %>
</p>
<p>
  <strong>Length:</strong>
  <%= @movie.length %>
</p>
<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>
<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>
<p>
  <strong>Scenarist:</strong>
  <%= @movie.scenarist %>
</p>
<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>
<p>
  <strong>Description</strong>
  <%= @movie.description %>
</p>
